*.o
*.obj
*.lo
*.d
*.gch
*.pch
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.out
*.app
*.dSYM/
*.su
*.idb
*.pdb
*.mod
*.exp
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.opensdf
*.sdf
*.vc.db
*.vscode/
*.vs/
*.pro.user
*.qmake.stash
*.qmake.cache
*.moc
*.qrc
*.rcc
*.ui
*.log
*~
*.bak
*.swp
*.swo
*.tmp
bin/
build/
Debug/
Release/
x64/
imgui.ini
third_party/*
!third_party/glad/
!third_party/glad/glad.h
!third_party/glad/glad.cincludes/
include/